<section class="main mt-5">
  <section class="container">
    <h1 class="my-5">Add New Student</h1>
    <div class="row">
      <div class="mb-3 col-12 col-md-4">
        <label for="name" class="form-label">Student Name </label>
        <input type="text" class="form-control" id="name" placeholder="Enter Student Name" name="name" [(ngModel)]="studentName">
        <p class="text-danger">{{nameError}}</p>
      </div>
      <div class="mb-3 col-12 col-md-4">
        <label for="age" class="form-label">Student Age </label>
        <input type="text" class="form-control" id="age" placeholder="Enter Student Age" name="age" [(ngModel)]="studentAge">
        <p class="text-danger">{{ageError}}</p>
      </div>

      <div class="mb-3 col-3 col-md-1 mt-4">
        <button class="btn btn-primary py-2 px-3 mt-1 w-100" (click)="add()">Add</button>
      </div>
    </div>

    <div class="row border my-5 p-5">
      <h1 class="col-12 text-center mb-5">All Student </h1>
      <div class="row">
        <div class="mb-3 col">
          <table class="table table-hover text-center">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Student Name</th>
                <th scope="col">Student Age</th>
              </tr>
            </thead>
            <tbody *ngFor="let student of students; index as index;">
              <tr>
                <td scope="col">{{index+1}}</td>
                <td scope="col">{{student.name}}</td>
                <td scope="col">{{student.age}}</td>
              </tr>
            </tbody>
          </table>
          </div>
      </div>
    </div>

  </section>

</section>
